<div class="card">
  <div class="card-header">
    My clubs
  </div>
  <div class="card-body">

    <form class="form-inline">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search" style="width: 90%">
      <button class="btn btn-outline-success" type="submit" style="width: 10%">Search</button>
    </form>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          One of two columns
        </div>
        <div class="col-sm">
          One of two columns
        </div>
      </div>
    </div>


  </div>
  <div class="card-footer text-muted">
  </div>
</div>





