<div class="card">
  <div class="card-header">
    My clubs
  </div>
  <div class="card-body">

    <form class="form-inline">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search" style="width: 90%">
      <button class="btn btn-outline-success" type="submit" style="width: 10%">Search</button>
    </form>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0" style="margin-top: 25px">
            <button type="button" class="btn btn-block btn-secondary">first club</button>
          </div>
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0" style="margin-top: 25px">
            <button type="button" class="btn btn-block btn-secondary">second club</button>
          </div>
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0" style="margin-top: 25px">
            <button type="button" class="btn btn-block btn-secondary">third club</button>
          </div>
        </div>
        <div class="col-sm">
          <div class="row">
            <div class="col-sm">first club</div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="card-footer text-muted">
  </div>
</div>





